# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Environment variables
.env
.env.*
!.env.example
.env.local

# Testing & build cache
coverage/
*.tsbuildinfo

# OS
.DS_Store
